.popular {
  position: relative;
  margin-bottom: 100px;
}
.popular-main-title[hidden] {
  display: none;
  overflow: hidden;
}
.popular-title {
  margin-bottom: 70px;
}
.popular > .container > .swiper {
  padding: 50px 0px;
  overflow: hidden;
}
.swiper > .swiper-button-next {
  right: -50px;
}
.swiper > .swiper-button-prev {
  left: -50px;
}
.container > .swiper-button-next::after,
.container > .swiper-button-prev::after {
  position: absolute;
  top: -50%;
  transform: translateY(50px);
  font-size: 75px;
  color: rgb(86, 91, 112);
}
.container > .swiper-button-prev::after {
  left: 80px;
}
.container > .swiper-button-next::after {
  right: 80px;
}
