.popular {
  position: relative;
  margin-bottom: 100px;
}
.popular-main-title[hidden] {
  display: none;
  overflow: hidden;
}
.popular-title {
  margin-bottom: 70px;
}
.popular > .container > .swiper {
  padding: 50px 0;
  overflow: visible;
}
.swiper > .popular-slider > .swiper-slide {
  max-width: 250px;
}
.swiper > .swiper-button-next::after,
.swiper > .swiper-button-prev::after {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100vw - 750px) / 2);
  height: 550px;
  background-color: #ddd;
  /* background-color: black; */
  position: absolute;
  top: -300px;
  padding: 25px;
  transform: translateY(50px);
  font-size: 75px;
  color: rgb(86, 91, 112);
  z-index: 1000;
}
.swiper > .swiper-button-prev::after {
  left: -575px;
}
.swiper > .swiper-button-next::after {
  right: -575px;
}
