:root {
  --color-active-film: rgba(24, 120, 150, 0.5);
}

.genres__container {
  display: flex;
}
.genres > .genres__container > .swiper {
  position: fixed;
  max-height: calc(100vh - 75px) ;
}
.genres__item {
  display: flex;
  max-height: 120px;
  padding: 45px 20px 25px;
  border-bottom: 5px solid var(--color-active-film);
  border-radius: 25px 0 0 25px;
  transition: background-color 0.2s;
}
.genres__item:hover {
  background-color: rgba(24, 120, 150, 0.15);
}
.genres__item[active] {
  background-color: var(--color-active-film);
}
.genres-item__btn {
  font-size: 27px;
  background-color: transparent;
  border: 1px solid transparent;
  transition: color 0.2s;
}
.genres__item:hover > .genres-item__btn {
  color: #335;
}
.genres__item[active] > .genres-item__btn {
  color: #114;
}
.genres__movies {
  display: flex;
  max-width: 1000px;
  min-height: 1000px;
  padding-top: 55px;
  padding-bottom: 45px;
  margin-left: 224px;
  flex-direction: column;
  flex-grow: 1;
  gap: 50px;
  align-items: center;
  background-color: var(--color-active-film);
}
.genres__movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.genres__default-inner {
  display: flex;
  width: 1000px;
  height: 1000px;
  justify-content: center;
  gap: 40px;
}
.genres__default-text {
  width: 350px;
  font-size: 70px;
  padding-top: 40px;
}
.genres__default-img {
  width: 350px;
  height: 350px;
  transform: rotate(45deg);
}
.genres__bth-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25px;
  font-size: 30px;
  background-color: #4e7c71;
  border: 1px solid transparent;
  border-radius: 20px;
}

.genres__btn-up {
  position: fixed;
  display: none;
  bottom: 20px;
  right: 20px;
  padding: 20px 20px;
  font-size: 25px;
  color: rgb(168, 167, 221);
  background-color: #3d5876;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.genres__btn-up > img {
  margin: 0 auto 10px;
  width: 50px;
  height: 50px;
}
